<!-- ************************** -->
<!-- The content Heading -->
<!-- ************************** -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error=> { %>
        <li>
            <%= error.msg %>
        </li>
        <% }) %>
</ul>
<% } %>
<!-- ************************** -->
<!-- build the add new vehicle form-->
<!-- ************************** -->
<form class="register-car" action="/inv/add_vehicle" method="post">
  <fieldset class="fieldset">
    <legend>All Fields are required</legend>
    <label class="top">Classification</label>
    <%- classificationList %>
    <!-- <select name="classification_id" id="ClassificationId">
      <option value="Default">Select the Classification</option> -->
    </select>
    <label class="top">Make: <input class="bottom" type="text" name="inv_make" id="inventoryMake" pattern=".{3,}" value="<%= locals.inv_make %>" placeholder="Min of 3 Characters" required></label>
    <label class="top">Model: <input class="bottom" type="text" name="inv_model" id="inventoryModel" pattern=".{3,}" value="<%= locals.inv_model %>" placeholder="Min of 3 Characters" required></label>
    <label class="top">Description: <textarea class="bottom" name="inv_description" id="inventoryDescription" cols="30" rows="10" value="<%= locals.inv_description %>" required></textarea></label>
    <label class="top">Image Path: <input class="bottom" type="text" name="inv_image" id="inventoryImage" value="/images/vehicles/no-image.png" required></label>
    <label class="top">Thumbnail Path: <input class="bottom" type="text" name="inv_thumbnail" id="inventoryThumbnail" value="/images/vehicles/no-image.png" required></label>
    <label class="top">Price: <input class="bottom" type="number" name="inv_price" id="inventoryPrice" value="<%= locals.inv_price %>" placeholder="Decimal or Integer" step="any" required></label>
    <label class="top">Year: <input class="bottom" type="number" name="inv_year" id="inventoryYear" pattern="\d{4}" value="<%= locals.inv_year %>" placeholder="4-digit year" required></label>
    <label class="top">Miles: <input class="bottom" type="number" name="inv_miles" id="inventoryMiles" pattern="[0-9]+" value="<%= locals.inv_miles %>" placeholder="Digits only" required></label>
    <label class="top">Color: <input class="bottom" type="text" name="inv_color" id="inventoryColor" value="<%= locals.inv_color %>" required></label>
  </fieldset>
  <button class="submit-btn">Submit</button>
</form>
